<!doctype html>
<html lang="en" data-bs-theme="auto">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Tiago Rorke">
      <title><%= root.data.title %></title>
      <link rel="canonical" href="https://tiago.nz">
      <link rel="stylesheet" href="<%= rootPath %>/style.css">
      <link rel="stylesheet" href="<%= rootPath %>/bootstrap.min.css">
      <link rel="alternate" type="application/rss+xml" href="rss.xml" title="<%= rootPath %>/<%= root.data.title %> RSS">
   </head>
   <body class="bg-dark">
      <div class="container">
         <header class="d-flex flex-wrap text-bg-dark justify-content-left py-2 my-3">
            <!-- site doesn't need my name at the top, does it?
            <div class="d-flex align-items-left mb-3 mb-md-0 me-md-auto">
            <span class="fs-4"><%= root.data.title %></span>
            </div>
             -->
            <ul class="nav nav-pills">
               <li class="nav-item"><a id="projects" href="<%= rootPath %>/projects.html" class="title-font-bold nav-link" aria-current="page">projects</a></li>
               <li class="nav-item"><a id="work" href="<%= rootPath %>/work.html" class="title-font-bold nav-link">work</a></li>
               <li class="nav-item"><a id="play" href="<%= rootPath %>/play.html" class="title-font-bold nav-link">play</a></li>
               <li class="nav-item"><a id="about" href="<%= rootPath %>/about.html" class="title-font-bold nav-link">about</a></li>
            </ul>
         </header>
         <main class="main-container">