<% let sorted = []; -%>
<% Object.keys(locals.items).forEach((key) => { locals.items[key].key = key; sorted.push(locals.items[key]); }); -%>
<% sorted.sort((a, b) => parseFloat(b.date) - parseFloat(a.date)); -%>

<div class="row">
<% sorted.forEach((item) => { -%>
    <div class="col-lg-6">
    <div class="card text-bg-dark thumb rounded-0 my-2">
        <img src="<%= item.image %>" class="card-img img-fluid">
        <div class="card-img-overlay thumb-overlay">
            <h5 class="card-title thumb-text title-font-bold"><%= item.title %></h5>
            <% if (item.client) { -%>
            <p class="card-text thumb-text title-font"><%= item.client %></p>
            <% } else if (item.desc) { -%>
            <p class="card-text thumb-text title-font"><%= item.desc %></p>
            <% } -%>
        </div>
        <a href="<%= locals.link %>/<%= item.key %>.html" class="stretched-link"></a>
    </div>
</div>
<% }); -%>
</div>