<%- include('_header.ejs') -%>

<script type="text/javascript">
  document.getElementById('about').classList.add('active');
</script>

<div class="row mb-5">
  <div class="col-md-6">
    <img src="https://live.staticflickr.com/65535/53007151960_597facd633_c_d.jpg">
  </div>
  <div class="col-md-6 mt-3">
    <%- root.about.body %>
  </div>
</div>

<%- include('_footer.ejs') -%>