<%- include('_header.ejs') -%>

<script type="text/javascript">
  document.getElementById('play').classList.add('active');
</script>

<%- include('_item_list.ejs', { items: play, link:'play' })%>

<%- include('_footer.ejs') -%>