<%- include('_header.ejs') -%>

<script type="text/javascript">
  document.getElementById('projects').classList.add('active');
</script>

<%- include('_item_list.ejs', { items: projects, link:'projects' })%>

<%- include('_footer.ejs') -%>