
@font-face {
  font-family: "Anonymous Pro Bold";
  src: url("font/Anonymous_Pro_B.ttf");
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("font/Anonymous_Pro.ttf");
}

.title-font-bold, h1, h2, h3, h4 {
  font-family: "Anonymous Pro Bold", sans-serif;
}

.title-font {
  font-family: "Anonymous Pro", sans-serif;
}

body {
  color: #CCC !important;
}

a {
  text-decoration: none !important;
  color: #FFF !important;
  background-color: #383838;
}

ul {
  list-style-type: '- ';
}

ol, ul {
  padding-left: 1rem !important;
}

.thumb {
  --bs-border-radius: 0 !important;
  --bs-card-border-width: 0 !important;
}
.thumb img {
  object-fit: cover;
  max-height: 300px;
  margin: 0px !important;
}

.thumb-text {
  background-color: #0009;
  padding: 5px;
  width: fit-content;
}

.nav-link.active {
  background-color: #444 !important;
  --bs-border-radius: 0 !important;
  --bs-nav-pills-border-radius: 0 !important;
}

.video_wrapper {
  position: relative;
  padding-top: 56.25%;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.main-container img {
  width: 100%;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}