<%- include('_header.ejs') -%>

<script type="text/javascript">
  document.getElementById('work').classList.add('active');
</script>

<%- include('_item_list.ejs', { items: work, link:'work' })%>

<%- include('_footer.ejs') -%>