<%- include('../_header.ejs') -%>

<script type="text/javascript">
  document.getElementById('projects').classList.add('active');
</script>

<h1><%= title %></h1>
<p class="title-font"><%= date %></p>

<% if (locals.video != undefined ) { -%>
  <div class="video_wrapper mb-3">
  <iframe class="video" src="<%= video %>" allowfullscreen></iframe>
</div>
<% } -%>

<%- body %>

<%- include('../_footer.ejs') -%>
